# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment (if you create one later)
venv/
env/

# OS files
.DS_Store
Thumbs.db